@import "../../styles/mixins.scss";
.loginContainer {
  box-shadow: 0rem 0.375rem 1.5rem rgba(58, 65, 104, 0.08);
  border-radius: 1rem;
  background-color: #ffffff;
  min-width: 27.762%;
  width: auto;
  min-height: 61%;
  height: auto;
  position: absolute;
  top: 48.75%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   padding: 2.5rem;
  overflow: hidden;
  @include flexbox($flexDirection: column, $justify: flex-start);
  //   background-image: url(./../../public/loginModalBackground.jpeg);
  .mobileNumberInputContainer {
    width: 75%;
    height: 60px;
    border: 1px solid #cccccc;
    margin: 10% 0 0 0;
    align-self: center;
    border-radius: 1.8rem;
    align-content: center;
    @include flexbox($flexDirection: row, $justify: flex-start);
    .countryCode {
      align-self: center;
      vertical-align: center;
      margin-left: 10%;
      @include fontStyle($fontSize: 20px, $fontWeight: 500);
    }
    .pipe {
      align-self: center;
      vertical-align: center;
      font-size: 25px;
      font-weight: 500;
      margin-left: 2%;
      color: #cccccc;
      padding-bottom: 4px;
    }
    .numberInput {
      align-self: center;
      vertical-align: center;
      margin-left: 3%;
      width: auto;
    }
  }
  .continueButton {
    width: 75%;
    height: 50px;
    background-color: #964af7;
    margin: 8% 0 0 0;
    align-self: center;
    border-radius: 1.8rem;
    text-align: center;
    align-items: center;
    color: #ffffff;
    @include fontStyle($fontSize: 23px, $fontWeight: 500);
    letter-spacing: 1.13px;
    padding-top: 7px;
    cursor: pointer;
  }
  .continueButtonDisabled {
    width: 75%;
    height: 50px;
    background-color: grey;
    margin: 8% 0 0 0;
    align-self: center;
    border-radius: 1.8rem;
    text-align: center;
    align-items: center;
    color: #ffffff;
    @include fontStyle($fontSize: 23px, $fontWeight: 500);
    letter-spacing: 1.13px;
    padding-top: 7px;
    cursor: not-allowed;
  }

  .termAndCondition {
    width: 75%;
    align-self: center;
    text-align: center;
    letter-spacing: 1px;
    @include fontStyle($fontSize: 14px, $fontWeight: 500);
    margin: 2rem 0 5rem 0;
    .termAndConditionSpan {
      text-decoration: underline;
      color: blue;
    }
  }
  
}
.loginOtpContainer{
  box-shadow: 0rem 0.375rem 1.5rem rgba(58, 65, 104, 0.08);
  border-radius: 1rem;
  background-color: #ffffff;
  min-width: 27.762%;
  width: auto;
  min-height: 61%;
  height: auto;
  position: absolute;
  top: 48.75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2rem 3rem 2rem;
  overflow: hidden;
  align-content: center;
  text-align: center;
  @include flexbox($flexDirection: column, $justify: flex-start);
 
  .otpHelpText{
    align-self: center;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
    @include fontStyle($fontSize: 2rem, $fontWeight: 500);

  }
  .otpContainer{
    padding: 2rem 0 1rem 0;

    .otpInput{
      width: 70px;
    height: 90px;
    border-radius: 10px;
    border-color:grey;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    }
  }
  .primary{
    width: 80%;
    height: 40px;
    background-color: #964af7;
    margin: 6% auto 3% auto;
    align-self: center;
    border-radius: 1.8rem;
    text-align: center;
    align-items: center;
    color: #ffffff;
    @include fontStyle($fontSize: 16px, $fontWeight: 500);
    letter-spacing: 1.13px;
    padding-top: 7px;
    cursor: pointer;
    text-align: center;
  }
  .inActive{
    width: 80%;
    height: 40px;
    background-color: grey;
    margin: 6% auto 3% auto;
    align-self: center;
    border-radius: 1.8rem;
    text-align: center;
    align-items: center;
    color: #ffffff;
    @include fontStyle($fontSize: 16px, $fontWeight: 500);
    letter-spacing: 1.13px;
    padding-top: 7px;
    cursor: not-allowed;
  }
  .verificationText{
    @include fontStyle($fontSize: 16px, $fontWeight: 500);
    color: #0F294D;
  }
  .verificationPhnNumber{
    @include fontStyle($fontSize: 16px, $fontWeight: 700);
    color: #0F294D;
  }
  .resendOtp{
    @include fontStyle($fontSize: 16px, $fontWeight: 500);
    padding-top: 1rem;
    cursor: pointer;
    .underline{
      text-decoration: underline;
      color: #0F294D;
      font-weight: 600;
    }
  }
}
