@import "../../styles/mixins.scss";

.dashboardContainer {
    width: 100%;
    margin: 6rem 0 6rem 0;

    .userProfileContainer {
        position: relative;
        width: 400px;
        height: 300px;
        background: rgba(160, 68, 255, 0.94);
        border-radius: 0 21px 21px 0;
        justify-content: center;
        color: #FFFFFF;

        .editProfile {
            position: absolute;
            right: 0px;
            width: 30px;
            height: 30px;
            background: #EAEAEA;
            color: #000000;
            text-align: center;
            cursor: pointer;
            border-radius: 0 0 0 10px;

        }


        .userProfiledetails {
            margin-left: 25%;
            display: flex;
            flex-direction: column;
            padding-top: 17.5%;

            .yourProfile {
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 1rem;
            }

            .yourProfileDetails {
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
            }

        }

    }

    .managePetContainer {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;

        .managePetContainerHeading {
            display: flex;
            justify-content: space-between;

            .ManagePets {
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 36px;

                color: #000000;
            }

            .ManageAddPets {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 53px;
                background: #EAEAEA;
                border-radius: 10px;
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 29px;
                color: #000000;
                cursor: pointer;
            }
        }

        .petDetailsContainer {
            .petDetailsCard {
                padding: 2rem 1rem;

                .petDetailsIconHeading {
                    display: flex;
                    justify-content: center;

                    .petDetailsIcon {
                        margin-right: 1rem;
                       
                        display: flex;
                        justify-content: center;
                    }

                    .petDetailsHeading {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .petDetailsName {
                            font-family: 'IBM Plex Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 22px;
                            line-height: 36px;
                            color: #000000;
                        }

                        .petDetailsTypeAge {
                            font-family: 'IBM Plex Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            color: #000000;
                        }
                    }


                }

                .petDetailsDottedLine {
                    border-style: none none dotted none;
                    margin: 1.5rem 0 1.5rem 0;
                }

                .petDetailsEditDeleteDate {
                    display: flex;
                    justify-content: space-between;

                    .petDetailsEditDelete {
                        display: flex;
                        font-family: 'IBM Plex Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 29px;
                        color: #000000;

                        .petDetailsEdit {
                            margin-right: 1.5rem;
                            cursor: pointer;
                        }
                        .petDetailsDelete{
                            cursor: pointer;
                        }
                    }

                    .petDetailsDate {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 29px;
                        color: #000000;
                    }
                }
            }
        }
    }

}